@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

main {
  position: relative;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.header-principal {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  height: 100px;
}

.header-principal ul {
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-principal ul li {
  list-style-type: none;
}

.header-principal ul li a {
  color: black;
  text-decoration: none;
}

.header-principal .boton-consultar-reserva {
  background-color: black;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
}

.imagen-fondo {
  position: absolute;
  z-index: -10;
  object-fit: cover;
  border-radius: 6px;
  height: 460px;
}

.seccion-busqueda {
  display: flex;
  height: 460px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.seccion-busqueda h2 {
  font-size: 42px;
  width: 760px;
  text-align: center;
  color: white;
  font-weight: 500;
}

.barra-busqueda {
  background-color: white;
  padding: 30px 50px;
  display: flex;
  gap: 30px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.barra-busqueda label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.barra-busqueda label .input-fecha {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.barra-busqueda label .input-numero {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid lightgray;
  width: 60px;
}

.barra-busqueda a {
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 40px;
  cursor: pointer;
  text-decoration: none;
}

.resultados,
.habitacion-detalles {
  padding: 40px 100px;
}

.resultados_titulo {
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultados_titulo_filtros {
  display: flex;
  align-items: center;
  gap: 12px;
}

.resultados_titulo_filtros span {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 12px;
}

.resultados_habitaciones {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.resultados_habitaciones article {
  width: 32%;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 6px;
  min-width: 360px;
}

.resultados_habitaciones article img {
  background-color: lightgray;
  height: 200px;
  width: 100%;
  border-radius: 4px;
}

.resultados_habitaciones article div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.resultados_habitaciones article div span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.resultados_habitaciones article div span svg {
  width: 16px;
}

.resultados_habitaciones article div a {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}

.mensaje_sin_resultados {
  text-align: center;
  margin: 100px auto 0;
  color: rgba(0, 0, 0, 0.7);
}